<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768276627475-dcpl8nin6u7rhblb3rumvtaga5m9dc2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768276627475-dcpl8nin6u7rhblb3rumvtaga5m9dc2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAhMiF0n8Fd5RzxoyQRHY0KAkqdHM7PD5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>768276627475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testgame.testgame</string>
	<key>PROJECT_ID</key>
	<string>testgameulu</string>
	<key>STORAGE_BUCKET</key>
	<string>testgameulu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768276627475:ios:efedd1f5ddbc59c81cbfe6</string>
	<key>DATABASE_URL</key>
	<string>https://testgameulu-default-rtdb.firebaseio.com</string>
</dict>
</plist>